@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.header_wrap {
    padding: 0 15px 0px 35px;
}
@media (max-width: 1400px) {
    .header_wrap {
        padding: 0;
    }
}
.header_wrap .navbar-collapse {
    flex-grow: unset;
}
.navbar-brand {
    max-width: 256px;
}
@media (max-width: 1600px) {
	.navbar-brand {
        max-width: 200px;
    }
}

.page-content {
    min-height: 100vh;
}
.btn {
    background: #FFA700;
    box-shadow: 0px 4px 4px #FFA700;
    border-radius: 40px;
    padding: 10px 8px;
    width: 270px;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.btn.btn-sm {
    border-radius: 0 4px 4px 0;
    box-shadow: unset;
    padding: 4px;
    width: unset;
    font-size: 18px;
    line-height: 24px;
}
.text-title {
    font-family: 'Appetite New'!important;
    font-style: normal!important;
    font-weight: normal!important;
}




.social-block {
    display: flex;
    align-items: center;
    margin-right: 90px;
}

.social-block a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 52px;
    height: 52px;
    border-radius: 10px;
    transition: 0.5s;
}
.social-block a svg {
    width: 36px;
}
@media (max-width: 1600px) {
    .social-block {
        margin-right: 30px;
    }
	.social-block a {
        width: 36px;
        height: 36px;
        border-radius: 6px;
    }
    .social-block a svg {
        width: 24px;
    }
}
.social-block a svg path {
    transition: 0.5s;
}
.social-block a.instagram:hover {
    background: #DD2A7B;
    transition: 0.5s;
}
.social-block a.vk:hover {
    background: #4376a6;
    transition: 0.5s;
}
.social-block a.facebook:hover {
    background: #3B5998;
    transition: 0.5s;
}
.social-block a:hover svg path{
    fill: #fff;
    transition: 0.5s;
}












.header-phone {
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.header-phone a {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.header-phone span {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #646464;
}
@media (max-width: 1600px) {
	.header-phone {
        margin-right: 30px;
    }
    .header-phone img {
        width: 24px;
    }
    .header-phone a {
        font-size: 18px;
        line-height: 24px;
    }
}
@media (max-width: 1330px) {
    .header-phone {
        margin: 0px;
    }
    .header-phone img {
        display: none;
    }
    .header-phone span {
        font-size: 10px;
    }
}








.cart_wrap_icon path {
    transition: 0.5s;
}
.cart_wrap_icon:hover path {
    transition: 0.5s;
    fill: #FFA700;
}
.cart_list .cart_list_item {
    margin-bottom: 20px;

    display: flex;

}
.cart_list .cart_list_item:last-child {
    margin-bottom: 0px;
}
.cart_list_content {
    width: calc(100% - 110px);
}
.cart_list_title {
    margin-bottom: 10px;
    transition: 0.5s;
}
.cart_list_title:hover {
    color: #DF8300;
    transition: 0.5s;
}
.cart_list_preview {
    width: 90px;
}
.cart_list_preview img {
    width: 100%;
    max-width: 90px;
}
.cart_list_title {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.cart_list .cart_amount {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #DF8300;
}
@media (max-width: 1600px) {
	.cart_wrap_icon svg{
        width: 34px;
    }
}








.wcu-img-top {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon_box_120 {
    min-height: 120px;
}
.icon_box_160 {
    min-height: 160px;
}










.product_info .price {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.product_info .price .now {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #DF8300;
    margin: 0px;
}
.product_info .price .old {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: line-through;
    color: #646464;
    margin: 0px;
}








.form-add-cart button {
    border: 0px;
    background: #DF8300;
	color: #fff;
	font-size: 16px;
	transition: all 0.5s ease-in;
	border-radius: 40px;
	width: 69px;
	height: 69px;
	padding: 0;
	border: 0;

	display: flex;
	align-items: center;
	justify-content: center;
}
.form-add-cart button svg {
    width: 36px;
}
.form-add-cart button svg path {
    fill: #fff;
}
.form-add-cart button:hover {
    background-color: #333;
}








.product-top-img {
    position: absolute;
    top: -8%;
    left: 0%;
    transform: translate(-50%, -50%);
}











.delivery-block {
    padding: 50px 0 168px 0px;
}
@media (max-width: 991px) {
    .delivery-block {
        padding: 50px 0px;
    }
}
.delivery-block P {
    color: #646464;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
}

.delivery-block P b {
    color: #000;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 10px;
}









.reviews-block {
    padding: 114px 0px 64px 0px;
    background-image: url("../images/reviews/markus-avila-8KJxdwQ0m0k-unsplash 1.png");
    background-position: left bottom;
    background-repeat: no-repeat;
}
@media (max-width: 991px) {
    .reviews-block {
        padding-top: 50px;
    }
}

.reviews-block .wcu-img-top {
    top: -5%;
}









.social-section {
    padding: 72px 0 43px 0px;
    background: rgba(255, 215, 140, 0.78);
}

.social-section .tel {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    margin-bottom: 16px;
}
.social-section .mail {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #646464;
}
@media (max-width: 991px) {
    .social-section .tel,
    .social-section .mail {
        font-size: 24px;
        line-height: 28px;
    }
}
.social-section .overlap_shape .ol_shape1 {
    filter: blur(4px);
    top: -30%;
}
.social-section .overlap_shape .ol_shape1 img {
    width: 300px;
}
.social-section .overlap_shape .ol_shape2 {
    left: 20%;
}
.social-section .overlap_shape .ol_shape2 img {
    width: 100px;
}
.social-section .overlap_shape .ol_shape3 {
    left: 30%;
    transform: rotate(-60deg);
}
.social-section .overlap_shape .ol_shape3 img {
    width: 120px;
}
.social-section .overlap_shape .ol_shape4 {
    bottom: 15%;
}
.social-section .overlap_shape .ol_shape5 {
    top: 10%;
    right: 27%;
    transform: rotate(40deg);
}
.social-section .overlap_shape .ol_shape5 img {
    width: 80px;
}
.social-section .overlap_shape .ol_shape6 {
    top: 30%;
    right: 17%;
}
.social-section .overlap_shape .ol_shape7 {
    filter: blur(4px);
    bottom: -30%;
    right: -3%;
}
.social-section .overlap_shape .ol_shape7 img {
    width: 380px;
}
@media (max-width: 1600px) {
	.social-section .overlap_shape .ol_shape1 {
		top: 0px;
	}
	.social-section .overlap_shape .ol_shape7 {
		bottom: 0px;
	}
}







.page-footer {
    background: #fff;
    position: relative;
    z-index: -1;
}
.logo-block a {
    display: block;
    margin-bottom: 4px;
}
.logo-block a img {
    width: 100%;
    max-width: 256px;
}
.logo-block p {
    font-size: 14px;
    line-height: 16px;
    color: #646464;
}
.footer-link {
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.footer-link:hover {
    color: #FFA700;
}
.page-footer .header-phone {
    margin: 0px;
}
.page-footer .header-phone a {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 19px;
}
.page-footer .header-phone span {
    font-size: 18px!important;
    line-height: 21px;
    color: #000000;
}

.page-footer__line-top {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #C4C4C4;
}
.page-footer__line-bottom {
    padding: 20px 0px;
}
.page-footer__line-bottom p {
    font-size: 16px;
    line-height: 19px;
    color: #646464;
    margin: 0px;
}
.deksis {
    font-size: 16px;
    line-height: 19px;
    color: #C4C4C4;
}
.deksis:hover {
    color: #FFA700;
}


@media (max-width: 991px) {
    .navbar .attr-nav li.cart_wrap .nav-link {
        padding: 0px!important;
    }
    .cart_count {
        right: -7px;
        top: 0px;
    }
    .navbar-brand {
        padding: 0px;
    }
    .header_wrap {
        padding: 6px 0px 20px 0px;
    }
    .navbar-brand img {
        max-width: 145px;
    }
    .banner_box {
        padding: 30px 13px;
    }
    .banner_text {
        max-width: unset;
    }
    .banner_img {
        max-width: 99px;
    }
}



#modalProduct .modal-header {
    border: 0px;
}

#modalProduct h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 15px;
}
#modalProduct .price {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #DF8300;
    margin-bottom: 24px;
}
#modalProduct p {
    font-size: 14px;
    line-height: 16px;
    color: #5A5A5A;
    margin-bottom: 20px;
}
#modalProduct .modal-body {
    padding: 100px
}
@media (min-width: 992px) {
    .modal-lg {
        max-width: 1170px;
    }
    
}
@media (max-width: 991px) {
    #modalProduct .modal-body {
        padding: 20px
    }
    #modalProduct .btn {
        width: 100%;
    }
}